{% extends "layout.html" %}
{% block content %}
<h2>FloorSpace</h2>
    <p>FloorSpace is a web application designed to allow tenants to register with their residence information, create new maintenance tickets, and access current and past maintenance tickets.</p>
    <p>Admins, or landlords, are able to use this web application to access all open tickets and resolve them.</p>
    <p>The goal of the web application is to design an easy to use interface that works with all platforms to create a simple way to tackle issues in tenant living environments.</p>
<!--    {% for game in games %}-->
        <article class="media content-section">
          <div class="media-body">
                <div class="article-metadata">
<!--                    <a class="mr-2" href="{{ url_for('game', selected_game=game.game_name) }}">{{ game.game_name }}</a>-->
<!--                    <small class="text-muted"><strong>genre:</strong>      {{ game.genre }}     |</small>-->
<!--                    <small class="text-muted"><strong>release date:</strong>      {{ game.release_date }}     |</small>-->
<!--                    <small class="text-muted"><strong>price:</strong>      {{ game.price }}    |</small>-->
<!--                    {% for publisher in publishers %}-->
<!--                        {% if publisher.id == game.publisher_id %}-->
<!--                            <small class="text-muted"><strong>publisher:</strong>   {{ publisher.publisher_name }}</small>-->
<!--                        {% endif %}-->
<!--                    {% endfor %}-->

                </div>
          </div>
        </article>

<!--    {% endfor %}-->
{% endblock content %}