{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
<h1>Maintenance Tickets</h1>
</div>
<div id="div-container">
    <div id="div-table">
        <table class="teal-table" style="width:100%;">
            <thead>
                <tr>
                    {% if current_user and current_user.is_admin()  %}
                        <th colspan="6" style="text-align: center; width: 100%;">Floor Space Current Open Tickets</th>
                    {% else %}
                        <th colspan="6" style="text-align: center; width: 100%;">Current Tenant Tickets</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="tbl-sbhd">
                        Email
                    </td>
                    <td id="tbl-sbhd">
                        Room Number
                    </td>
                    <td id="tbl-sbhd">
                        Building Number
                    </td>
                    <td id="tbl-sbhd">
                        Maintenance Type
                    </td>
                    <td id="tbl-sbhd">
                        Maintenance Description
                    </td>
                    <td id="tbl-sbhd">
                        Submit Date
                    </td>
                </tr>
                {% for Ticket in ticketdata %}
                    {% if current_user and current_user.is_admin() %}
                        <tr>
                            <td>
                                {{ Ticket.tenant_email }}
                            </td>
                            <td>
                                {{ Ticket.room_id }}
                            </td>
                            <td>
                                {{ Ticket.build_id }}
                            </td>
                            <td>
                                {{ Ticket.mtype }}
                            </td>
                            <td>
                                {{ Ticket.description }}
                            </td>
                            <td>
                                {{ Ticket.submitdate }}
                            </td>
                        </tr>
                    {% else %}
                        {% if current_user.email == Ticket.tenant_email %}
                            <tr>
                                <td>
                                    {{ Ticket.tenant_email }}
                                </td>
                                <td>
                                    {{ Ticket.room_id }}
                                </td>
                                <td>
                                    {{ Ticket.build_id }}
                                </td>
                                <td>
                                    {{ Ticket.mtype }}
                                </td>
                                <td>
                                    {{ Ticket.description }}
                                </td>
                                <td>
                                    {{ Ticket.submitdate }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="clear"></div>
</div>

{% endblock content %}